<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('排班管理列表')" />
</head>
<body class="gray-bg">
     <div class="container-div" style="height: 20%">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>客户姓名：</label>
                                <input type="text" name="custName"/>
                            </li>
                            <li>
                                <label>手机号：</label>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <label>备注：</label>
                                <input type="text" name="remark"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            </div>
         <div class="btn-group-sm" id="toolbar" role="group">
             <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:cust:export1">
                 <i class="fa fa-download"></i> 导出
             </a>
         </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var prefix = ctx + "system/schedule";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "历史数据管理",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'ID',
                    visible: false
                },
                {
                    field: 'custName',
                    title: '客户姓名'
                },
                {
                    field: 'phone',
                    title: '手机号'
                },
                {
                    field: 'nowBalance',
                    title: '消费后剩余金额'
                },
                {
                    field: 'record',
                    title: '消费或充值记录'
                },
                {
                    field: 'operateDate',
                    title: '操作日期'
                },
                    {
                        field: 'remark',
                        title: '备注'
                    },
              ]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
