<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scheduling.project.system.cust.mapper.HistoryMapper">
    <resultMap type="History" id="HistoryResult">
        <result property="id" column="id"/>
        <result property="custId" column="custId"/>
        <result property="operateDate" column="operateDate"/>
        <result property="record" column="record"/>
        <result property="custName" column="custName"/>
        <result property="phone" column="phone"/>
        <result property="nowBalance" column="nowBalance"/>
        <result property="remark" column="remark"/>
    </resultMap>



    <sql id="selectHistoryVo">
        select id,custId,operateDate,record,custName,phone,nowBalance,remark
        from history
    </sql>

    <select id="selectHistoryList" parameterType="History" resultMap="HistoryResult">
        <include refid="selectHistoryVo"/>
        <where>
            1 = 1
            <if test="custName != null  and custName != ''">
                and custName like concat('%', #{custName}, '%')
            </if>
            <if test="phone != null  and phone != ''">
                and phone like concat('%', #{phone}, '%')
            </if>
            <if test="remark != null  and remark != ''">
                and remark like concat('%', #{remark}, '%')
            </if>
        </where>
        order by operateDate desc
    </select>


    <insert id="insertHistory" parameterType="History" useGeneratedKeys="true" keyProperty="id">
        insert into history
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="custName != null">
                custName,
            </if>
            <if test="custId != null">
                custId,
            </if>
            <if test="operateDate != null">
                operateDate,
            </if>
            <if test="record != null">
                record,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="nowBalance != null">
                nowBalance,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="custName != null">
                #{custName},
            </if>
            <if test="custId != null">
                #{custId},
            </if>
            <if test="operateDate != null">
                #{operateDate},
            </if>
            <if test="record != null">
                #{record},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="nowBalance != null">
                #{nowBalance},
            </if>
            <if test="remark != null">
                #{remark},
            </if>
        </trim>
    </insert>
</mapper>
